---
import Layout from '../layouts/Layout.astro';
import books from "../bookData/books.json"
import Card from "../components/BookCard.tsx"
import BookCard from "../components/BookCard.tsx"


const read = books.filter(book => book['Exclusive Shelf'] == "read").sort()
const currentBook = books.filter(book => book['Exclusive Shelf'] == "currently-reading")[0]

const isbn = currentBook.ISBN13.replace(/\D/g,'');
---

<Layout title="Books">
	<main>
        <p class="text-2xl font-bold mb-4">Currently reading</p>
        <div class="m-auto mb-8 h-72 flex border border-solid border-black rounded-md md:w-1/2">
            <div class="grow content-center text-center">
                <p class="font-bold text-xl">{currentBook.Title}</p>
                <p class="italic pb-3">by {currentBook.Author}</p>
            </div>
            <img src=`https://covers.openlibrary.org/b/isbn/${isbn}-M.jpg` />
        </div>

        <p class="text-2xl font-bold mb-4">Recent Readings and Impressions</p>
        <div class="inline-grid crid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
            {read.map((book: any, index: number) => {
                return(
                    <Card book={book}/>
                    // <BookCard key={index} book={book} client:visible/>
                )
            })}
        </div>
	</main>
</Layout>